body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#general {
  margin-top: 50px;
}


#menu {
  background: rgb(128, 128, 128, 0.7);
  border-radius: 10px;
}

#menu p {
  padding: 5px;
  margin: 5px;
}

.isActive {
  display: none;
}

.isNotActive {
  display: block;
}

.link {
  color: black;
  text-decoration: none;
}

#logo {
  width: 90%;
  margin-bottom: 2%;
}

body {
  text-align: center;
}

#browse {
  width: 30%;
  margin-bottom: 2%;
}

#home {
  position: fixed;
  bottom: 0;
  background: white;
  height: 40px;
  width: 100%;
}

#home img {
  height: 40px;
  margin-right: 10px;
}

.text {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 7%;
}

.locs h5 {
  text-align: left;
  margin-left: 8%;
}

.citiesCycle {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: center;
}

#cityCicle1 {
  grid-area: 1 / 1 / 2 / 2;
}

#cityCicle2 {
  grid-area: 1 / 2 / 2 / 3;
}

#cityCicle3 {
  grid-area: 2 / 1 / 3 / 2;
}

#cityCicle4 {
  grid-area: 2 / 2 / 3 / 3;
}

#menuImg {
  width: 50px;
  right: 5px;
  position: fixed;
}

#header {
  top: 0;
  position: fixed;
  background: white;
  width: 100%;
  height: 50px;
}

#userImage {
  width: 50px;
  left: 5px;
  position: fixed;
}

#menu {
  position: fixed;
  top: 50px;
  right: 5px;
}

.vacation {
  width: 100%;
  z-index: -20;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cityCycle {
  z-index: -20;
  position: relative;
}

.city {
  z-index: -20;
  position: relative;
  margin-bottom: 10px;
}

.cities {
  padding: 0 5px 40px 5px;
}